nav.navbar.navbar-expand-xl
    .container-xxl
        a.navbar-brand(href="#")
            img.img-fluid(src='images/logo.png' alt='Logo')
            .
                TheGarage
        
        
        button.navbar-toggler(aria-label="Right Align")
            span.nav-icon
        
        .navbar-collapse
            ul.navbar-nav
                li.nav-item.active(data-scroll="top"): span home
                each val in ['clients', 'about', 'testimonials', 'products', 'blogs', 'gallary', 'pricing', 'contact']
                
                    li.nav-item(data-scroll="#" + val)
                        span #{val}
                li.nav-item
                    button.main-btn buy car